.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo-img {
  width: 130px; 
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 8%;
}

.nav-btn {
  background: none; /* Elimina el fondo de los botones */
  border: none; /* Elimina el borde de los botones */
  color: #667085; /* Color del texto de los botones */
  margin-right: 5px; /* Espaciado entre botones */
  padding: 10px;
  border-radius: 5%;
}

.logo-btn{
  background: none; /* Elimina el fondo de los botones */
  border: none; /* Elimina el borde de los botones */
  color: #667085; /* Color del texto de los botones */
  margin-right: 5px; /* Espaciado entre botones */
}

.selected {
  border-bottom: 2px solid #7F56D9; /* Agrega un subrayado cuando la opción está seleccionada */
}

.nav-btn:hover {
  background-color: #E2E2E2; /* Cambia el fondo al hacer hover */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.usuario {
  margin-left: auto; /* Mueve el nombre de usuario a la derecha */
  color: #667085;
  margin-right: 5px;
}

.usuario-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Ajusta el margen a la derecha */
}

.icono-usuario-container {
  position: relative;
  display: inline-block;
  margin-right: 15px; /* Ajusta el margen a la derecha */
}
.active {
  border-bottom: 5px solid #6941C6;
}

.icono-usuario {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #EBE5FC;
  color: #6941C6;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 85px; /* Ajusta el margen entre el icono y el nombre */
}

.icono-usuario span {
  margin-top: 2px; /* Ajusta la posición de la letra dentro del círculo */
}

.logout-options {
  position: absolute;
  top: 100%;
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra horizontalmente */
  z-index: 1;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos verticalmente */
  padding: 8px 0;
  white-space: nowrap; /* Evita que se divida en varias líneas */
}


.logout-options button {
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.logout-options button:hover {
  background-color: #f9f9f9;
}
