/* Estilos base */
.card {
  width: 100%;
  height: 100%;
  max-width: 90rem;
  margin-left: -8%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-x: auto; /* Añade scroll horizontal cuando sea necesario */
  overflow-y: hidden; /* Oculta el scroll vertical */
}

.custom-input {

  width: 100%;
  height: 40px;
}

.dropdown {
  margin-right: 5%;
}

.dropdown-menu {
  width: 130%;
}

.btn-filtrar {
  width: 130%;
  color: #6941c6;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #6941c6;
}

.btn-filtrar:hover {
  background-color: #6941c6;
}

.custom-table {
  width: 98%;
  text-align: center;
  
}

.custom-table td {
  padding: 45px;
  padding-left: 30px;
  color: #667085;
  font-size: 14px;
}

.mb-2.block {
  display: flex;
  flex-direction: column;
}

.label-container {
  display: flex;
  align-items: center;
}

.required,
.campo-obligatorio {
  color: red;
  font-size: 0.8rem;
}

.required-info {
  color: red;
  text-align: center;
}

.pagination-container {
  position: absolute; /* Cambiar a posición absoluta */
  bottom: 1.5rem; /* Fijar en la parte inferior */
  left: 0; /* Fijar a la izquierda */
  width: 100%; /* Ocupar todo el ancho disponible */
 
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #D8B30A; /* Color rojo para resaltar el error */
  border-radius: 10px;
  background-color: #f9f9f9; /* Color de fondo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.error-icon {
  font-size: 48px;
  color: #D8B30A; /* Color rojo para el icono */
}

.error-message {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #333; /* Color del texto */
}
.btn-cancelar{
  color:#7749F8 ;
  border: none;
  background-color: #FFFFFF;
}
/* Media queries para pantallas más pequeñas */
@media screen and (max-width: 900px) {
 
  #Btn-Crear{
    width: 80%;
  }
  #Btn-Buscar{
    width: 50%;
  }
  .card {
    max-width: 80%; /* Reducir el ancho del card */
    margin: 0 auto; /* Centrar el card */
  }

  .custom-input {
    width: 50%; /* Reducir el ancho del input */
  }

  .dropdown {
    margin-right: 2%; /* Reducir el margen derecho del dropdown */
  }

  .btn-filtrar {
    width: 80%; /* Reducir el ancho del botón filtrar */
  }

  .custom-table td {
      padding: 15px;
   
      font-size: 11px;
  }
  .custom-table a {
 
    margin: -1rem;
    font-size: 8px;
}

  .pagination-container {
      bottom: 0;
  }
}
