/*utilizar estas variables para mantener constancia,
importar este modulo @import 'global.css';*/

:root {
    --background-maincolor: #F4F6F6;
    --background-components: #fff;

    --primary: #6941C6;
    --secondary: #E5D0FF;

    --text-color:#667085;


    --card-height: 50rem; /*tamaño minimo de la carta principal*/
    --card-max-width: 1438px; /*anchura maxima de la carta principal*/
  }
  
  body {
    background-color: var(--background-maincolor);
  }
  
  #root {
    height: 100vh;
  }