.login-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background-color: #025b7a;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 35%;
}

.logo {
  width: 50%;
  height: 50%;
  display: block;
  margin-bottom: 20px;
}


.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #7749F8;
  color: white;
  border: none;
}


.placehold {
  position: absolute;
  top: 50%;
  left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  color: #888;
  background-color: white;
}

.focused .placehold,
.form-control:not(:placeholder-shown) + .placehold {
  top: -5px;
  font-size: 15px;
  color: white;
  background-color: #025b7a;
}