/*cambios de andy*/
@import './global.css';
/**/



.login-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F4F4F4;
}


.login-card {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 35%;
}

.logo {
  width: 50%;
  height: 50%;
  display: block;
  margin-bottom: 35px;
}


.form-password {
  position: relative;
  margin-bottom: 1rem;
}

.form-email {
  position: relative;
  margin-bottom: 2.5rem;
}

.form-checkbox {
  position: relative;
  margin-bottom: 2.5rem;
}

.form-buttom {
  position: relative;
  margin-bottom: 2.5rem;
}



.form-input {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  text-indent: 30px;
}

.login-button {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #7749F8;
  color: white;
  border: none;
}


.placehold {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  color: #888;
}

.focused .placehold,
.form-control:not(:placeholder-shown)+.placehold {
  top: -15px;
  font-size: 15px;
  color: black;
  left: -2px;
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.error-title {
  font-size: 14px;
  color: red;
}


.logo-navbar {
  width: 20%;
  height: 20%;
}


