.button {
    border: 1px solid transparent;
    padding:8px 20px;
    border-radius: 0.6rem;
    box-shadow: 0 0 0px 2px #DFE3EC;
}

.button-default {
    color:#6941C6;
    background-color: #fff;
    border-color: #EDDEFF;
}